<!--
<h1>Bem vindo ao contatooh</h1>
<button ng-click="incrementa()">Novo</button>
<p>Contatos cadastrados {{ total }}</p>
-->

<div class="jumbotron">
	<h1 class="text-center">
		Bem-vindo ao contatooh
	</h1>
</div>

<div>
	<p ng-show="mensagem.texto" class="alert alert-danger"> {{ mensagem.texto }}</p>	
</div>

<div class="row">
	<a class="btn btn-primary" ng-href="#/contato">
		Novo
	</a>
	<div class="col-xs-6 col-sm-3">
		<input type="search" ng-model="filtro" placeholder="parte do nome" class="form-control">
	</div>
</div>

<br>
<p ng-show="contatos.length">Contatos cadastrados: {{ contatos.length }}</p>
<p ng-hide="contatos.length" class="alert alert-warning">Nao ha contatos cadastrados.</p>

<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>Nome</th>
			<th>Email</th>
			<th class="text-center">Acao</th>
		</tr>
		<tr ng-repeat="contato in contatos | filter: filtro">
			<td><a ng-href="#/contato/{{ contato._id }}">{{ contato.nome}}</a></td>
			<td> {{ contato.email}}</td>
			<td class="text-center">
				<button ng-click="removeContato(contato)" class="btn btn-warning">Remover</button>
			</td>
		</tr>
	</table>	
</div>
